@import url('https://fonts.cdnfonts.com/css/mars-project');

.section-contact {
    width: 100vw;
    height: 50vh;
    z-index: 12;
}

.container-contact {
    display: grid;
    grid-template-columns: 40% 60%;
    position: relative;
    top: 2.5%;
    left: 2.5%;
    border-radius: 30px;
    width: 95vw;
    height: 45vh;
    z-index: 20;
}
.details-contact{
display: flex;
flex-direction: column;
gap: 5%;
justify-content: center;
align-items: center;
color: #fc4308;
position: relative;
right: -170%;
text-shadow: 1px 1px 4px black;
font-size: 30px;
}


.mail-to-owners,
.other-emails
{
    display: flex;
    flex-direction: row;
    gap: 10%;
    justify-content: center;
    align-items: center;
    text-transform: lowercase;
}

    .title-contact {
        font-variant-numeric: slashed-zero;
        text-shadow: 2px 0px 0px #F00, -2px 0px 0px #8FFF00;
        font-family: 'Mars-Project', sans-serif;
        font-size: 180px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.5px;
        text-align: left;
        position: absolute;
        left: 2%;
        top: 25%;
        width: 80%;
        text-transform: lowercase;
    }

