.section-contact {
    width: 100vw;
    height: 50vh;
    z-index: 12;
}

.container-contact {
    display: grid;
    grid-template-columns: 40% 60%;
    position: relative;
    top: 2.5%;
    left: 2.5%;
    border-radius: 30px;
    width: 95vw;
    height: 45vh;
    z-index: 20;
}
.details-contact{
display: flex;
flex-direction: column;
gap: 5%;
justify-content: center;
align-items: center;
color: #fc4308;
position: relative;
right: -170%;
text-shadow: 1px 1px 4px black;
font-size: 30px;
}


.mail-to-owners,
.other-emails
{
    display: flex;
    flex-direction: row;
    gap: 10%;
    justify-content: center;
    align-items: center;
    text-transform: lowercase;
}

    .title-contact {
        color: white;
        text-shadow: 1px 1px 4px #fc4308;
        text-align: left;
        font: 900 150px "Inter", sans-serif;
        position: absolute;
        left: 2%;
        top: 12.5%;
        width: 80%;
        text-transform: lowercase;
    }

