.footer-container{
    width: auto;
    border: 2px solid white;
    border-radius: 30px;
    margin: 2%;
    background: var(--brand-colors-primary, #161616);
        height: 50vh;
        position: relative;
        overflow: hidden;
}


.buttons-redirect-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 1079px;
    top: 86px;
}
.buttons-redirect {
    display: flex;
    flex-direction: column;
    gap: 9px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 50%;
    top: 5%;
}

.buttons-redirect-2-btn {
    color: #6d6d6d;
    text-align: left;
    font: 500 22px/30.21px "Urbanist", sans-serif;
    position: relative;
    top: -5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.socials {
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    top: -4rem;
}

.negative {
    flex-shrink: 0;
    width: 26.85px;
    height: 26.85px;
    position: relative;
    overflow: hidden;
}


.buttons-redirect-btn {
    color: #6d6d6d;
    text-align: left;
    font: 500 32px/30.21px "Urbanist", sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.heading-footer {
    color: #fc4308;
    text-align: left;
    font: 800 16px/29.2px "Urbanist", sans-serif;
    text-transform: uppercase;
    position: absolute;
    left: 70px;
    top: 47px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.description-text {
    color: #6d6d6d;
    text-align: left;
    font: 500 18px "Urbanist", sans-serif;
    position: absolute;
    left: 70px;
    top: 89px;
    width: 368px;
}

.logo-footer {
    color: #fc4308;
    text-align: left;
    font: 700 160px/180px "Urbanist", sans-serif;
    position: absolute;
    letter-spacing: 2px;
    width: fit-content;
    margin: 0 auto;
    bottom: -3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.open-footer {
    color: #fc4308;
    width: fit-content;
    margin: 0 auto;
    font-size: 25px;
    font-weight: 800;
    padding: 0.5em 0 2rem 0;
}

.buttons-footer{
    padding-top: 0.9rem;
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: space-evenly;
    align-items: center;
}


.button-no,
.button-yes
{
    font-size: 1rem;
        padding: 0.7em 0.5rem;
        background-color: #000;
        border: 2px solid #fc4308;
        border-radius: 1em;
        color: #6d6d6d;
        font-weight: bolder;
        z-index: 20;
        transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.s;
        box-shadow: -5px 5px 0px 0px #fc4308;
}

.button-no:hover,
.button-yes:hover
{
    transform: translate(5px, -5px);
}
