.footer-container{
display: grid;
grid-template-columns: repeat(2 1fr);
width: auto;
border: 2px solid white;
border-radius: 30px;
margin: 2%;
height: 50vh;
position: relative;
overflow: hidden;
}

.registered{
color: rgb(198, 198, 198);
font-size: 15px;
padding-top: 10px;
}

.business-info{
position: relative;
text-align: center;
padding-top: 15px;
width: 100%;

}

.business-info h3 {
    color: rgb(198, 198, 198);
    font-size: 20px;
}

.business-info h6 {
    color: rgb(134, 134, 134);
    font-size: 20px;
}

.socials {
position: relative;
top: -150%;
width: 20%;
left: 70%;
}

.buttons-redirect {
display: flex;
flex-direction: column;
gap: 1rem;
align-items: flex-start;
justify-content: flex-start;
position: absolute;
left: 50%;
top: 15%;
}


.buttons-redirect-btn {
color: #6d6d6d;
text-align: left;
font: 500 32px/30.21px "Urbanist", sans-serif;
position: relative;
display: flex;
align-items: center;
justify-content: flex-start;
}

.buttons-redirect-btn:hover{
color: #fc4308;
font-size: 24px;
}

.text-footer{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 70%;
    padding: 2%;
}

.text-up{
display: flex;
flex-direction: column;
gap: 0.5em;
justify-content: center;
align-items: center;
top: 10%;
left: 0%;
position: relative;


}
.text-up h3 {
color: #fc4308;
font-size: 25px;
}

.text-footer p {
color: #6d6d6d;
font-size: 15px;
}

.logo-footer {
color: #fc4308;
text-align: left;
font-size: 150px;
position: absolute;
letter-spacing: 2px;
width: fit-content;
margin: 0 auto;
bottom: -4rem;
display: flex;
align-items: center;
justify-content: flex-start;
}

.open-footer {
color: #fc4308;
width: fit-content;
margin: 0 auto;
font-size: 25px;
font-weight: 800;
padding: 0.5em 0 2rem 0;
}

.buttons-footer{
padding-top: 0.9rem;
display: flex;
flex-direction: row;
gap: 5%;
justify-content: space-evenly;
align-items: center;
}


.button-no,
.button-yes
{
font-size: 1rem;
padding: 0.7em 0.5rem;
background-color: #000;
border: 2px solid #fc4308;
border-radius: 1em;
color: white;
font-weight: bolder;
z-index: 20;
transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.s;
box-shadow: -5px 5px 0px 0px #fc4308;
}

.button-no:hover,
.button-yes:hover
{
transform: translate(5px, -5px);
}

.social-image {
    width: 60%;
    position: relative;
    left: 20%;
    top: 10%;

}

.wrapper {
    display: flex;
    list-style: none;
    height: 10%;
    width: 100%;
    padding-top: 40px;
    position: relative;
    left: 0%;
    align-items: center;
    justify-content: center;
}

.wrapper .icon {
    position: relative;
    background-color: #fc4308;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -50px;
    left: -20%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
    background: #1877F2;
    color: #fff;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
    background: #1DA1F2;
    color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: #E4405F;
    color: #fff;
}





@media screen and (max-width: 1400px) {
    .footer-container{
        height: 60vh;
    }

    .business-info{
        top: 15%;
    }
}

@media screen and (max-width: 1110px) {

 .logo-footer{
    font-size: 120px;
    top: 65%;
 }

}