.open-footer {
    color: #fc4308;
    width: fit-content;
    margin: 0 auto;
    font-size: 25px;
    font-weight: 800;
    padding: 0.5em 0 2rem 0;
}

.buttons-footer{
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: space-between;
    align-items: center;
}

.button-no,
.button-yes
{
    width: 50%;
    height: 2rem;
}