@import url('https://fonts.cdnfonts.com/css/montreal');
html, body {
background-color: black;
scroll-snap-type: y mandatory;
font-family: 'Montreal', sans-serif;
height: fit-content;
}


.switch {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10%;
    z-index: 40;
    left: 95%;
}

@media (max-width: 1150px) {
    .switch{
        left: 95%;
        top: 5%;
    }
}

@media (max-width: 950px) {
    .switch {
        left: 95%;
            top: 5%;
    }
}

@media (max-width: 600px) {
    .switch {
        left: 90%;
        top: 3.5%;
    }
}

@media (max-width: 450px) {
    .switch {
        left: 85%;
        top: 4%;
    }
}

@media (max-width: 350px) {
    .switch {
        left: 85%;
        top: 2.5%;
        width: fit-content;
    }


}