

#main-container {
    display: flex;
    transition: 0.5s;
}

.container {
    width: 20%;
    height: 50vh;
    background-color: #ffffff3f;
    position: absolute;
    align-items: center;
        justify-content: center;
    display: flex;
    bottom: 7rem;
    left: 1rem;
    z-Index: 1000;
    flex-direction: column;
    border-radius: 30px;
}

.response-area {
    height: 70%;
    width: 70%;
    overflow: scroll;
    padding: 20px;
    color: orange;
    font-size: 15px;
        border-radius: 30px;
}

.prompt-area {
    width: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.prompt-area input {
    width: 70%;
    padding: 5px;
    font-size: 15px;
}

.prompt-area button {
    width: fit-content;
    height: 50%;
}

.gpt-message {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    font-size: 15px;
}

.user-message {
    display: block;
    width: 100%;
    text-align: right;
    position: relative;
    float: right;
    font-size: 15px;
}

.message {
    margin: 5px;
}