.section-portfolio {
width: 100vw;
height: 100vh;
z-index: 12;
box-sizing: border-box;
}

.container-portfolio{
display: flex;
flex-direction: column;
position: relative;
top: 2.5%;
left: 2.5%;
border-radius: 30px;
width: 95vw;
height: 95vh;
z-index: 0;
}


.section-name-portfolio{
font: 700 80px "Syncopate", sans-serif;
color: #fc4308;
text-shadow: 1px 1px 6px black;
position: relative;
    top: 0%;
    left: 10%;
}

.container-projects {
    display: flex;
    flex-direction: column;
    gap: 2%;
    width: 100%;
    height: 100%;
    justify-content: center;
        align-items: center;
        position: relative;
        top: 0;
}

.project-widget {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 120%;
    height: 12%;
    border: 1px solid white;
    position: relative;
    top: 0%;
    text-align: left;
}

.title-project {
    color: white;
    font-size: 20px;
}
.short-description{
    color: gray;
    font-size: 20px;
}

.technologies-used{
    color: gray;
    font-size: 20px;
}