.section-portfolio {
width: 100vw;
height: 100vh;
z-index: 12;
box-sizing: border-box;
}

.container-portfolio{
display: flex;
flex-direction: column;
position: relative;
top: 2.5%;
left: 2.5%;
border-radius: 30px;
width: 95vw;
height: 95vh;
z-index: 0;
}


.section-name-portfolio{
font: 700 80px "Syncopate", sans-serif;
color: #fc4308;
text-shadow: 1px 1px 6px black;
position: relative;
    top: 0%;
    left: 10%;
}

.container-projects {
    display: flex;
    flex-direction: column;
    gap: 2%;
    width: 100%;
    height: 100%;
    justify-content: center;
        align-items: center;
        position: relative;
        top: 0;
}

.project-widget {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 12%;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    position: relative;
    top: 0%;
    text-align: left;
}

.title-project {
    color: white;
    font-size: 20px;
}
.short-description{
    color: gray;
    font-size: 20px;

}

.technologies-used{
    color: gray;
    font-size: 20px;
}

.project-widget:hover{
    background-color: rgb(255, 81, 0);
    cursor: pointer;
    

    .short-description,
    .technologies-used
    {
        color: white;
    }
}

.project-widget:hover:after{
   position: inherit;
        height: 10rem;
        z-index: 10;
animation-name: my-animation;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    /* other properties */
    width: 300px;
    height: 100px;
    position: relative;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    filter: opacity(0.8);
    border-radius: 20%;
}

.project1:hover:after{
    content: url("../assets/images/confort.jpg");
}

.project2:hover:after {
    content: url("../assets/images/afa.jpg");
}

@keyframes my-animation {
    from {
        width: 400px;
        top: -200px;
    }

    to {
        width: 0px;
        top: 100px;
    }
}

