@import url('https://fonts.cdnfonts.com/css/mars-project');

.section-prices {
width: 100vw;
height: 100vh;
z-index: 12;
}

.container-prices {
display: grid;
grid-template-columns: 70% 30%;
position: relative;
position: relative;
top: 2.5%;
left: 2.5%;
width: 95vw;
height: 95vh;
justify-content: space-evenly;
align-items: center;
background-color: #6d6d6d00;
z-index: 0;
}

.price-name{
position: absolute;
right: 2%;
bottom: 5%;
font: 700 80px 'Mars-Project', sans-serif;
color: #fc4308;
text-shadow: 1px 1px 6px black;
}

.detailed-price{
display: grid;
grid-template-columns: 50% 50%;
position: relative;
top: 2.5%;
left: 2%;
width: 100%;
height: 80%;
}

.title-price{
font-variant-numeric: slashed-zero;
text-shadow: 2px 0px 0px #F00, -2px 0px 0px #8FFF00;
font-family: monogram;
font-size: 92px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.5px;
transform: rotate(90deg);
position: relative;
top: -5%;
left: -50%;
width: fit-content;
margin: 0 auto;

}


.description-price {
font-size: 16px;
}


.left-side-price{
display: flex;
flex-direction: column;
gap: 5%;
}

.description-price ul {
padding-top: 3.5%;
}

.btn-price {
width: 50%;
height: 15%;
display: flex;
align-items: center;
justify-content: center;
position: relative;
padding: 20px 30px;
background-color: #fc4308;
border-radius: 200px;
color: black;
font-size: 22px;
outline: none;
opacity: 1;
z-index: 200;
transform: scale(1);
animation: pulse 2s infinite;
text-transform: lowercase;
left: 40%;
}

@keyframes pulse {
0% {
transform: scale(0.95);
box-shadow: 0 0 0 0 rgb(228, 228, 228);
}

70% {
transform: scale(1);
box-shadow: 0 0 0 10px rgba(145, 145, 145, 0.712);
}

100% {
transform: scale(0.95);
box-shadow: 0 0 0 0 rgba(109, 109, 109, 0.63);
}
}

.description-price {
position: relative;
}

.description-price h2 {
font-weight: 700;
letter-spacing: 1px;
margin-bottom: 10px;
}

.description-price ul {
position: relative;
}

.description-price ul li {
position: relative;
left: 0;
list-style: none;
margin: 4px 0;
border-left: 2px solid #fc4308;
transition: 0.5s;
cursor: pointer;
}

.description-price ul li:hover {
left: 10px;
}

.description-price ul li span {
position: relative;
padding: 8px;
padding-left: 12px;
display: inline-block;
z-index: 1;
transition: 0.5s;
}

.description-price ul li:hover span {
color: #111;
}

.description-price ul li:before {
content: "";
position: absolute;
width: 100%;
height: 100%;
background: #fc4308;
transform: scaleX(0);
transform-origin: left;
transition: 0.5s;
}

.description-price ul li:hover:before {
transform: scaleX(1);
}

@media screen and (max-width: 950px) {
.container-prices {
height: 150vh;
}

.detailed-price {
top: 0%;
}

.btn-price{
    height: 5%;

}

.title-price {
    height: fit-content;
    top: 40%;
    width: 150%;
    font-size: 65px;
}

.price-name{
    font-size: 60px;
    top: 70%;
}
}