.section-prices {
    width: 100vw;
    height: 100vh;
    z-index: 12;
}

.container-prices {
    display: grid;
    grid-template-columns: 30% 70%;
    position: relative;
    top: 2.5%;
    left: 2.5%;
    border-radius: 30px;
    width: 95vw;
    height: 95vh;
    background-color:#FFA559;
    border: 2px solid white;
    z-index: 0;
}

.website-pricing-plan,
.website-pricing-plan * {
    box-sizing: border-box;
}

.website-pricing-plan {
    background: #e8e8e8;
    width: 95vw;
    height: 100%;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.frame-146 {
    border-radius: 68px;
    padding: 16px 30px 16px 30px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: calc(50% - 314px);
    top: 39px;
}

.website-design-package {
    color: var(--violet-normal, #40238c);
    text-align: center;
    font: 600 48px/130% "General Sans", sans-serif;
    position: relative;
}

.group-422 {
    position: absolute;
    inset: 0;
}

.rectangle-17 {
    background: var(--neutral-neutral-2, #fcfcfc);
    border-radius: 20px;
    width: 376px;
    height: 565px;
    position: absolute;
    left: calc(50% - 588px);
    top: 205px;
    box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.15);
}

.basic {
    color: var(--neutral-neutral-8, #595959);
    text-align: left;
    font: 600 24px/100% "General Sans", sans-serif;
    position: absolute;
    left: 254px;
    top: 251px;
}

._200 {
    color: #000000;
    text-align: left;
    font: 600 60px/100% "General Sans", sans-serif;
    position: absolute;
    left: 208px;
    top: 305px;
}

.frame-1171275871 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 134px;
    top: 394px;
}

.basic-figma-website-design-one-page-up-to-5-sections {
    text-align: left;
    position: relative;
    width: 301px;
}

.basic-figma-website-design-one-page-up-to-5-sections-span {
    color: #000000;
    font: 600 20px/150% "General Sans", sans-serif;
}

.basic-figma-website-design-one-page-up-to-5-sections-span2 {
    color: #5e5e5e;
    font: 500 20px/150% "General Sans", sans-serif;
}

.basic-figma-website-design-one-page-up-to-5-sections-span3 {
    color: #5e5e5e;
    font: 500 16px/150% "General Sans", sans-serif;
}

.frame-1171275869 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.line-3 {
    border-style: solid;
    border-color: var(--neutral-neutral-5, #d9d9d9);
    border-width: 1px 0 0 0;
    flex-shrink: 0;
    width: 301px;
    height: 0px;
    position: relative;
}

.frame-1171275868 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.frame-147 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.new-releases {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

._1-page-screen {
    color: var(--nutural-nutural-7, #8c8c8c);
    text-align: left;
    font: 500 20px/100% "General Sans", sans-serif;
    position: relative;
}

.frame-148 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.new-releases3 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.responsive-design {
    color: var(--nutural-nutural-7, #8c8c8c);
    text-align: left;
    font: 500 20px/100% "General Sans", sans-serif;
    position: relative;
}

.frame-149 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.new-releases5 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.source-file {
    color: var(--nutural-nutural-7, #8c8c8c);
    text-align: left;
    font: 500 20px/100% "General Sans", sans-serif;
    position: relative;
}

.line-4 {
    border-style: solid;
    border-color: var(--neutral-neutral-5, #d9d9d9);
    border-width: 1px 0 0 0;
    flex-shrink: 0;
    width: 301px;
    height: 0px;
    position: relative;
}

.frame-1171275870 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.frame-1171275866 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.schedule {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

._3-days-delivery {
    color: #000000;
    text-align: left;
    font: 500 20px/100% "General Sans", sans-serif;
    position: relative;
}

.frame-1171275867 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.revision-1-1 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

._3-revision {
    color: #000000;
    text-align: left;
    font: 500 20px/100% "General Sans", sans-serif;
    position: relative;
}

.group-423 {
    position: absolute;
    inset: 0;
}

.rectangle-172 {
    background: var(--neutral-neutral-2, #fcfcfc);
    border-radius: 20px;
    width: 376px;
    height: 565px;
    position: absolute;
    left: calc(50% - 173px);
    top: 205px;
    box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.15);
}

.standard {
    color: var(--neutral-neutral-8, #595959);
    text-align: left;
    font: 600 24px/100% "General Sans", sans-serif;
    position: absolute;
    left: 646px;
    top: 248px;
}

._800 {
    color: #000000;
    text-align: left;
    font: 600 60px/100% "General Sans", sans-serif;
    position: absolute;
    left: 623px;
    top: 305px;
}

.frame-11712758712 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 549px;
    top: 394px;
}

.standard-figma-website-design-1-homepage-2-inner-pages-up {
    text-align: left;
    position: relative;
    width: 301px;
}

.standard-figma-website-design-1-homepage-2-inner-pages-up-span {
    color: #000000;
    font: 600 20px/150% "General Sans", sans-serif;
}

.standard-figma-website-design-1-homepage-2-inner-pages-up-span2 {
    color: #5e5e5e;
    font: 500 20px/150% "General Sans", sans-serif;
}

.standard-figma-website-design-1-homepage-2-inner-pages-up-span3 {
    color: #5e5e5e;
    font: 500 16px/150% "General Sans", sans-serif;
}

.new-releases7 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

._3-page-screen {
    color: var(--nutural-nutural-7, #8c8c8c);
    text-align: left;
    font: 500 20px/100% "General Sans", sans-serif;
    position: relative;
}

.new-releases9 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.new-releases11 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.schedule3 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

._7-days-delivery {
    color: #000000;
    text-align: left;
    font: 500 20px/100% "General Sans", sans-serif;
    position: relative;
}

.revision-1-12 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.unlimited-revisions {
    color: #000000;
    text-align: left;
    font: 500 20px/100% "General Sans", sans-serif;
    position: relative;
}

.group-424 {
    position: absolute;
    inset: 0;
}

.rectangle-173 {
    background: var(--blue-normal, #5d5fec);
    border-radius: 20px;
    width: 376px;
    height: 565px;
    position: absolute;
    left: calc(50% - -242px);
    top: 205px;
    box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.15);
}

.premium {
    color: var(--blue-light, #efeffd);
    text-align: left;
    font: 600 24px/100% "General Sans", sans-serif;
    position: absolute;
    left: 1059px;
    top: 248px;
}

._2-500 {
    color: var(--blue-light, #efeffd);
    text-align: left;
    font: 600 60px/100% "General Sans", sans-serif;
    position: absolute;
    left: 1017px;
    top: 305px;
}

.frame-11712758713 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 964px;
    top: 394px;
}

.new-releases13 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

._10-page-screen {
    color: var(--nutural-nutural-2, #fcfcfc);
    text-align: left;
    font: 500 20px/100% "General Sans", sans-serif;
    position: relative;
}

.new-releases15 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.responsive-design2 {
    color: var(--nutural-nutural-2, #fcfcfc);
    text-align: left;
    font: 500 20px/100% "General Sans", sans-serif;
    position: relative;
}

.new-releases17 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.source-file2 {
    color: var(--nutural-nutural-2, #fcfcfc);
    text-align: left;
    font: 500 20px/100% "General Sans", sans-serif;
    position: relative;
}

.schedule5 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

._12-days-delivery {
    color: var(--blue-light, #efeffd);
    text-align: left;
    font: 500 20px/100% "General Sans", sans-serif;
    position: relative;
}

.revision-1-13 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.unlimited-revisions2 {
    color: var(--blue-light, #efeffd);
    text-align: left;
    font: 500 20px/100% "General Sans", sans-serif;
    position: relative;
}