.section-services{
    width: 100vw;
        height: 100vh;
        z-index: 12;
}

.container-services{
    display: grid;
        grid-template-columns: 40% 70%;
        position: relative;
        top: 2.5%;
        left: 2.5%;
        border-radius: 30px;
        width: 95vw;
        height: 95vh;
        background-color: rgba(211, 211, 211, 0.301);
        border: 2px solid orange;
        z-index: 20;
}

.title-services{
    font-size: 95px;
    color: orange; 
}

.content-services{
    font-size: 14px;
    color: white;
}

.image-services{
    width: 40%;
    position: relative;
    left: 50%;
    z-index: 0;
}

.left-side-services{
    width: 70%;
    padding: 0 0 0 10%;
}


.features-1,
.features-2,
.features-1 *,
.features-2 * {
    box-sizing: border-box;
}

.features-1,
.features-2
{
    display: flex;
    flex-direction: column;
    gap: 3%;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    top: 10%;
}

.rectangle-10 {
    border-radius: 0px;
    flex-shrink: 0;

    position: relative;
    overflow: visible;
    
}

.image-1 {
    border-radius: 30px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 1px;
    flex-shrink: 0;
    width: 126px;
    height: 134px;
    position: absolute;
    left: 126px;
    top: 45px;
}

.frame-13 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: absolute;
    left: 8px;
    top: 6px;
    overflow: visible;
}

.highest-cpu-capacity-in-the-market {
    color: #ffffff;
    text-align: left;
    font: 500 16px "Jost", sans-serif;
    position: absolute;
    left: 8px;
    top: 45px;
    width: 104px;
    height: 92px;
}

.frame-14 {
    border-radius: 45px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 65px;
    height: 15px;
    position: absolute;
    left: 8px;
    top: 122px;
}

.read-more {
    color: #000000;
    text-align: left;
    font: 500 9px "Jost", sans-serif;
    position: relative;
}